streamlit
langchain
langchain-openai>=0.0.2
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu>=1.7.4
openai
python-dotenv
pandas
ollama
rank_bm25>=0.2.2
langchain-ollama
streamlit-extras
sentence-transformers>=2.2.2
numpy>=1.24.0
tqdm
torch
